<template name="archiwum">
    {{#if currentUser}}
        <div class="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h3 class="pull-lef">Archiwum</h3>
                    </div>
                    <div class="col-md-6">
                        <button id="backToList" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-arrow-left"></span> Powrót
                        </button>
                    </div>
                </div>
            </div>

            <!--<div class="pull-right">-->
                <!--<span>Liczba Kwestii w archiwum: </span><span class="badge">{{kwestiaCount}}</span>-->
            <!--</div>-->
            <!--<hr/>-->
            {{#if ArchiwumList}}
                <div class="row">
                    <div class="col-md-12">
                        {{> reactiveTable
                        class = "table table-bordered table-hover"
                        fields = settings.fields
                        settings = settings
                        collection = ArchiwumList
                        }}
                    </div>
                </div>
            {{else}}
                <label></label>
            {{/if}}
        </div>
    {{/if}}
</template>

<template name="editColumnKwestiaArch">
    <!--<a title="Edytuj" id="editKwestia" href="{{ pathFor 'editKwestia'}}"><i class="glyphicon glyphicon-pencil clickable"></i>-->
    <!--</a>-->
    <!--<a href="{{pathFor 'informacjeKwestiaArchiwum'}}" class="glyphicon glyphicon-info-sign" title="Szczegółowe informacje"></a>-->
    <a href="{{pathFor 'proceduraPrzywracania'}}" class="glyphicon glyphicon-repeat"
       title="Procedura przywracania kwestii"></a>
</template>

<template name="nazwaKwestiArchiwumLink">
    <a href="{{ pathFor 'informacjeKwestiaArchiwum'}}" id="kwestiaId" class="kwestiaId">{{this.kwestiaNazwa}}</a>
</template>
