<template name="archiwum">
<!--{{#if currentUser}}-->
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <legend class="pull-lef">Archiwum</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#if ArchiwumListCount}}
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = ArchiwumList
                    }}
                {{else}}
                    <br/><label>Brak Kwestii</label>
                {{/if}}
            </div>
        </div>
    </div>
        <!--{{/if}}-->
</template>

<template name="editColumnKwestiaArch">
    <div class="pull-right">
        <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Procedura przywracania Kwestii">
            <i class="fa fa-refresh"></i> Przywróć
        </a>
    </div>
</template>

<template name="nazwaKwestiiArchiwumLink">
    <a href="{{ pathFor 'informacjeKwestiaArchiwum'}}" id="kwestiaIdClick" class="kwestiaId">{{this.kwestiaNazwa}}</a>
</template>

<template name="tematKwestiiArchiwum">
    {{getTemat idTemat}}
</template>

<template name="rodzajKwestiiArchiwum">
    {{getRodzaj idRodzaj}}
</template>