<template name="informacjeKwestiaArchiwum">
    <div class="main">
        <h3>Informacje o Kwestii</h3>

        <div class="pull-right">
        </div>
        <div class="clearfix"></div>
        <hr/>
        <table class="table table-bordered manageTable">
            <tr>
                <td><strong> Data wprowadzenia</strong></td>
                <td>{{date}}</td>
            </tr>
            <tr>
                <td><strong> Nazwa Kwestii</strong></td>
                <td>{{kwestiaNazwa}}</td>
            </tr>
            <tr>
                <td><strong> Priorytet</strong></td>
                <td>{{priorytet}}</td>
            </tr>
            <tr>
                <td><strong> Temat</strong></td>
                <td>{{tematNazwa.nazwaTemat}}</td>
            </tr>
            <tr>
                <td><strong> Rodzaj</strong></td>
                <td>{{rodzajNazwa.nazwaRodzaj}}</td>
            </tr>
            <tr>
                <td><strong> Data głosowania</strong></td>
                <td>{{dateG}}</td>
            </tr>
            <tr>
                <td><strong> Historia</strong></td>
                <td>{{historia}}</td>
            </tr>
        </table>
        <hr/>
        <h3>Treść Kwestii</h3>

        <div class="clearfix"></div>
        <table class="table table-bordered manageTable">
            <tr>
                <td><strong> Krótka treść</strong></td>
                <td>{{krotkaTresc}}</td>
            </tr>
            <tr>
                <td><strong> Szczegółowa treść</strong></td>
                <td>{{szczegolowaTresc}}</td>
            </tr>
            <tr>
                <td><strong> Parametry głosowania</strong></td>
                <td>{{parametryGlosowania}}</td>
            </tr>
            <tr>
                <td><strong> Historia dyskusji Kwestii</strong></td>
                <td>{{historiaDyskusji}}</td>
            </tr>
        </table>
        <hr/>
        <div class="form-group">
            <input type="reset" id="backToList" class="btn btn-default backToList" value="Powrót">
        </div>
        {{> priorytetKwestiaModal}}
    </div>
</template>