<template name="activateAccount">
    {{#if notActivatedAccount}}
        <div class="col-md-12 bg-success padding-15" style="text-align: center ">
            <p>Dziękujemy za aktywację konta!</p>
            <p>Na podany przez Ciebie email w Aplikacji zostanie wysłany login i hasło.</p>
        </div>
    {{else}}
        <div class="col-md-12 bg-warning padding-15" style="text-align: center ">
            <p>Uwaga!</p>
            <p>Twoje konto zostało już aktywowane. Przejdź <a href="{{link}}">tutaj</a> aby, się zalogować.</p>
        </div>
    {{/if}}
</template>