<template name="answerInvitation">
    {{#if userNotAnswered}}
        {{#if timeExpired}}
            <p>Przepraszamy, czas przyjęcia zaproszenia na stanowisko {{position}} w naszej organizacji {{organizationName}} minął.</p>
        {{else}}
            <div class="main">
                <p>Witaj {{fullName}}!</p>
                <br>
                <p>
                    Zostałeś zaproszony do aplikowania na stanowisko {{postion}} w naszej organizacji {{organizationName}}
                </p>
                <br>
                <p>Czy chcesz aplikować na powyższe stanowisko?</p>
                <br>
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary" value="Chcę aplikować">
                    <input type="reset" class="btn btn-default" value="Nie, dziękuję">
                </div>
            </div>
        {{/if}}
    {{else}}
        {{#if answerPositive}}
            <p>Już potwierdziłeś chęć aplikowania do naszej organizacji {{organizationName}}</p>
            <p>Aby zobaczyć szczegóły kwestii kliknij <a href="#">tutaj</a> </p>
        {{else}}
            <p>Przepraszamy!</p>
            <p>Odrzuciłeś zaproszenie do aplikowania na stanowisko {{position}} w naszej organizacji {{organizationName}}</p>
        {{/if}}
    {{/if}}
</template>