<template name="listaKwestiiOczekujacych">
    {{#if currentUser}}
        <div class="main">
            <legend>Lista Kwestii oczekujących</legend>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = listOfIssues
                    }}
                </div>
            </div>
        </div>
    {{/if}}
</template>

<template name="editTypeAndTopic">
    <div class="pull-right">
        <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Ustaw rodzaj oraz temat"
           href="{{pathFor "kwestiaOczekujaca" this._id}}">
            <i class="fa fa-edit clickable"></i> Kategoryzuj
        </a>
    </div>
</template>