<template name="listKwestiaAdmin">
    {{#if currentUser}}
        <div class="main">
            <legend>Lista Kwestii</legend>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = KwestiaListAdmin
                    }}
                </div>
            </div>
        </div>
    {{/if}}
</template>

<template name="editColumnKwestiaAdmin">
    <a title="Edytuj" id="editKwestia" href="#"><i class="glyphicon glyphicon-pencil clickable"></i></a>
</template>

<template name="listKwestiaAdminColumnLabel">
    <span data-toggle="tooltip" title="{{title}}">{{text}}</span>
</template>
