<template name="listRaport">
    {{#if currentUser}}
        <div class="main">
            <h3>Lista raportów</h3>

            <div class="pull-right">
                <span>Liczba raportów: </span><span class="badge">{{raportCount}}</span>
            </div>
            <hr/>
            <div class="row">
                <div class="col col-md-6">
                    <div class="input-group">
                        <a href="{{pathFor 'addRaport'}}" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Dodaj
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = RaportListAdmin
                    }}
                </div>
            </div>
        </div>
    {{/if}}
</template>





