<template name="listDoradcyModal">
    <div id="listDoradcy" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> listDoradcyModalInner}}
            </div>
        </div>
    </div>
</template>

<template name="listDoradcyModalInner">
    <div class="modal-header">
        <h4>Wybierz użytkownika, którego cchesz powołać na stanowisko honorowego</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = doradcyList}}
            </div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <input type="submit" data-dismiss="modal" class="btn btn-default" id="anulujButton" value="Powrót"/>
            </div>
        </div>
    </div>
</template>

<template name="doradcyTemplate">
    {{zespolR}}
</template>
