<template name="administracjaUserMain">
    {{#if currentUser}}
        <div class="main">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#twojeKwestie" aria-controls="twojeKwestie" role="tab" data-toggle="tab">Twoje kwestie</a></li>
                    <li role="presentation"><a href="#parametry" aria-controls="parametry" role="tab" data-toggle="tab">Parametry globalne</a></li>
                    <li role="presentation"><a href="#uzytkownicy" aria-controls="uzytkownicy" role="tab" data-toggle="tab">Użytkownicy</a></li>
                    <li role="presentation"><a href="#zglosHonorowy" aria-controls="zglosHonorowy" role="tab" data-toggle="tab">Zgłoś członka honorowego</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="twojeKwestie">
                        <br />
                        {{#if listOfIssuesCount}}
                            <div class="row">
                                <div class="col-md-12">
                                    {{> reactiveTable
                                    class = "table table-bordered table-hover"
                                    fields = settings.fields
                                    settings = settings
                                    collection = listOfIssues
                                    }}
                                </div>
                            </div>
                        {{else}}
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Nie utworzyłeś jeszcze żadnej Kwestii.</label>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="parametry">
                        <br />
                        {{> listParametr}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="zglosHonorowy">
                        <br />
                        {{> addHonorowy}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="uzytkownicy">
                        <br />
                        {{> profileList}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>

<template name="lobbujZaKwestia">
    {{#if IAmOwnerKwestiaGlosowanaOrDEliberowana}}
        <a href="#" id="lobbujZaKwestią">Lobbuj za kwestią</a>
    {{/if}}
</template>

