<template name="notificationInfo">
    <div class="main">
        <div class="row">
            <div class="col col-md-12">
                <table class="table">
                    {{#if notificationTypeMessage}}
                        {{>notificationNewMessage
                            idPowiadomienie=this._id}}
                    {{/if}}
                    {{#if notificationTypeNewIssue}}
                        {{>notificationNewIssue
                            idPowiadomienie=this._id}}
                    {{/if}}
                    {{#if notificationTypeLobbingMessage}}
                        {{>notificationLobbingMessage
                        idPowiadomienie=this._id}}
                    {{/if}}
                    {{#if notificationTypeApplicationConfirmationAcceptedRejected}}
                        {{>notificationApplicationAnswer
                            idPowiadomienie=this._id
                        }}
                    {{/if}}
                    {{#if notificationTypeHonorowyInvitation}}
                        {{>notificationHonorowyInvitation
                        idPowiadomienie=this._id}}
                    {{/if}}
                    {{#if notificationTypeVoteStarted}}
                        {{>notificationVoteStarted
                        idPowiadomienie=this._id}}
                    {{/if}}
                 </table>
                <button id="backToNotificationList" class="btn btn-primary">
                    <span class="fa fa-arrow-left"></span> Powrót do powiadomień
                </button>
            </div>
        </div>
    </div>
</template>

<template name="notificationNewMessage">
    {{#with powiadomienie idPowiadomienie}}
        <tr>
            <td><b>Data wysłania:</b></td>
            <td>{{dataWprowadzenia}}</td>
        </tr>
        <tr>
            <td><b>Nadawca:</b></td>
            <td>{{sender}}</td><br/>
        </tr>
        <tr>
            <td><b>Tytuł:</b></td>
            <td>{{tytul}}</td><br/>
        </tr>
        &nbsp;
        <tr><b>Treść:</b></tr>
        <tr>
            <td>
                Aktywna Demokracja<br />
                {{organisationName}}<br />

                {{welcomeGender}} {{userData}}!<br /><br />

                {{tresc}}<br /><br/>

                Pozdrawiam,<br/>
                {{sender}}
            </td><br/>
        </tr>
    {{/with}}
</template>

<template name="notificationNewIssue">
    {{#with powiadomienie idPowiadomienie}}
        {{#with actualKwestia this.idKwestia}}
            <div>Aktywna Demokracja</div>
            <div>{{organisationName}}</div>
            {{welcomeGender}} {{userData}}! <br /><br />
            Do systemu AD wprowadzono nową Kwestię: <b>{{kwestiaNazwa}}</b><br />
            <b>Temat:</b> {{temat}}<br/>
            <b>Rodzaj:</b> {{rodzaj}}<br />
            dotyczącą: <b>{{krotkaTresc}}</b> <br /><br />

            Zapraszamy do deliberacji tej Kwestii, dyskusji i nadania priorytetu. <br />
            <a href="{{pathFor 'informacjeKwestia'}}">Link do Kwestii</a>
        {{/with}}
    {{/with}}
</template>

<template name="notificationApplicationAnswer">
    {{#with powiadomienie idPowiadomienie}}
            <div>Aktywna Demokracja</div>
            <div>{{organisationName}}</div>
            {{welcomeGender}} {{userData}}! <br /><br />

            {{#if applicationConfirmation}}
                {{#with actualKwestia this.idKwestia}}
                    Dziękujemy za aplikowanie na stanowisko Członka Zwyczajnego w systemie AD {{organisationName}}.<br />
                    Aby zobaczyć szczegóły kwestii kliknij <a href="{{pathFor 'informacjeKwestia'}}">tutaj</a>
                {{/with}}
            {{else}}
                {{#with actualKwestia this.idKwestia}}
                    {{#if applicationRejected}}
                        {{organisationName}}, do której wstąpiłeś jako {{userTypeData}} nie zaakceptowała Twojego wniosku.<br/>
                        Możesz zgłosić ten problem odwołując się do ogółu.<br/>
                        Zapytania i uwagi możesz kierować <a href="{{url}}">tutaj</a> <br/><br />
                    {{else}}
                        Z radością informujemy,że Twoja aplikacja na stanowisko {{userTypeData}} w systemie AD {{organisationName}} <br />
                        została rozpatrzona pozytywnie.
                    {{/if}}
                {{/with}}
            {{/if}}
            <br /><br />
            Logowanie do systemu: <a href="{{pathFor 'home'}}"> Zaloguj</a>
    {{/with}}
</template>

<template name="notificationHonorowyInvitation">
    {{#with powiadomienie idPowiadomienie}}
        <div>Aktywna Demokracja</div>
        <div>{{organisationName}}</div>
        Szanowny/a {{userData}}! <br /><br />

        Zostałeś zaproszony do aplikowania na stanowisko Członka Honorowego w systemie AD {{organisationName}}.<br />
        Aby potwierdzić / odrzucić chęć aplikowania na powyższe stanowisko kliknij
        {{#with actualUserDraft this.idUserDraft}}
            <a href={{pathFor 'answer_invitation'}}>tutaj</a>.<br/>
        {{/with}}

        <br /><br />
        Logowanie do systemu: <a href="{{pathFor 'home'}}"> Zaloguj</a>
    {{/with}}
</template>

<template name="notificationLobbingMessage">
    {{#with powiadomienie idPowiadomienie}}
        {{#with actualKwestia this.idKwestia}}
            <div>Aktywna Demokracja</div>
            <div>{{organisationName}}</div>
            {{welcomeGender}} {{userData}}! <br /><br />

            <div>Zachęcam Cię do wsparcia Kwestii: <b><a href="{{pathFor 'informacjeKwestia'}}">{{kwestiaNazwa}}</a></b></div> <br />

            <b>Temat:</b> {{temat}}<br />
            <b>Rodzaj:</b> {{rodzaj}} <br /><br />

            <b>Szczegóły:</b> <br />
            {{krotkaTresc}}<br /><br />
        {{/with}}
            <b>Uzasadnienie:</b><br/>
            {{uzasadnienie}}<br/><br/>
            Dziękuję!<br/>
            {{sender}}
    {{/with}}
</template>

<template name="notificationVoteStarted">
    <!--to finish-->
</template>