<template name="notificationInfo">
    <div class="main">
        <div class="row">
            <div class="col col-md-12">
                <table class="table">
                    {{#if notificationTypeMessage}}
                        {{>notificationNewMessage
                            idPowiadomienie=this._id}}
                    {{/if}}
                    {{#if notificationTypeNewIssue}}
                        {{>notificationNewIssue
                            idPowiadomienie=this._id}}
                    {{/if}}
                    {{#if notificationTypeLobbingMessage}}
                        {{>notificationLobbingMessage
                        idPowiadomienie=this._id}}
                    {{/if}}
                 </table>
                <button id="backToNotificationList" class="btn btn-primary">
                    <span class="fa fa-arrow-left"></span> Powrót do powiadomień
                </button>
            </div>
        </div>
    </div>
</template>

<template name="notificationNewMessage">
    {{#with powiadomienie idPowiadomienie}}
        <tr>
            <td><b>Data wysłania:</b></td>
            <td>{{dataWprowadzenia}}</td>
        </tr>
        <tr>
            <td><b>Nadawca:</b></td>
            <td>{{sender}}</td><br/>
        </tr>
        <tr>
            <td><b>Tytuł:</b></td>
            <td>{{tytul}}</td><br/>
        </tr>
        <tr>
            <td><b>Treść:</b></td>
            <td>{{tresc}}</td><br/>
        </tr>
    {{/with}}
</template>

<template name="notificationNewIssue">
    {{#with powiadomienie idPowiadomienie}}
        {{#with actualKwestia this.idKwestia}}
            <div>Aktywna Demokracja</div>
            <div>{{organisationName}}</div>
            {{welcomeGender}} {{userData}}! <br /><br />
            Do systemu AD wprowadzono nową Kwestię: <b>{{kwestiaNazwa}}</b><br />
            <b>Temat:</b> {{temat}}<br/>
            <b>Rodzaj:</b> {{rodzaj}}<br />
            dotyczącą: <b>{{krotkaTresc}}</b> <br /><br />

            Zapraszamy do deliberacji tej Kwestii, dyskusji i nadania priorytetu. <br />
            <a href="{{pathFor 'informacjeKwestia'}}">Link do Kwestii</a>
        {{/with}}
    {{/with}}
</template>
<!--to finish-->
<template name="notificationLobbingMessage">
    {{#with powiadomienie idPowiadomienie}}
        {{#with actualKwestia this.idKwestia}}
            <div>Aktywna Demokracja</div>
            <div>{{organisationName}}</div>
            {{welcomeGender}} {{userData}}! <br /><br />

            <div>Zachęcam Cię do wsparcia Kwestii: <b><a href="{{pathFor 'informacjeKwestia'}}">{{kwestiaNazwa}}</a></b></div> <br />

            {{#if isKwestiaGlobalParams}}
                <b>Szczegóły:</b> <br />
                {{krotkaTresc}} <b>{{szczegolowaTresc.title}}</b> z :<br />
                {{szczegolowaTresc.oldValue}} na<br />
                {{szczegolowaTresc.newValue}} <br/><br />
            {{/if}}
            {{#if isKwestiaBasic}}
                <b>Temat:</b> {{temat}}<br />
                <b>Rodzaj:</b> {{rodzaj}} <br /><br />

                <b>Szczegóły:</b> <br />
                {{krotkaTresc}}<br />
                {{kwestiaNazwa}} <br /><br />
            {{/if}}
            {{#if isKwestiaAccess}}
                <b>Temat:</b> {{temat}},<br />
                <b>Rodzaj:</b> {{rodzaj}} <br /><br />

                <b>Szczegóły:</b> <br />
                {{krotkaTresc}}<br />
                DANE APLIKANTA:<br/>
                <b>Imię i Nazwisko: </b>{{szczegolowaTresc.fullName}} <br />
                {{#if isKwestiaAccessHonorowyAndProtector}}
                    <b>Email: </b>{{szczegolowaTresc.email}} <br />
                    <b>Pesel: </b>{{szczegolowaTresc.pesel}} <br />
                    <b>Adres: </b>{{szczegolowaTresc.address}} <br />
                    <b>Kod pocztowy: </b>{{szczegolowaTresc.zip}} <br />
                {{/if}}
                <b>Miejscowość: </b>{{szczegolowaTresc.city}} <br />
                <b>Uzasadanienie aplikacjii/kilka słów o sobie: </b>{{szczegolowaTresc.uwagi}} <br /><br />
            {{/if}}
        {{/with}}
            <b>Uzasadnienie:</b><br/>
            {{uzasadnienie}}<br/><br/>

            Dziękuję!<br/>
            {{sender}}

    {{/with}}
</template>