<template name="editParametry">
    <div class="main">
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" id="parametrFormEdit">
                    <legend>Dane organizacji</legend>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Nazwa organizacji:</label>

                        <div class="col-xs-9">
                            <input name="nazwaOrganizacji" type="text" class="form-control" id="nazwaOrganizacji"
                                   placeholder="Nazwa organizacji" required value={{nazwaOrganizacji}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Terytorium:</label>

                        <div class="col-xs-9">
                            <input name="terytorium" type="text" class="form-control" id="terytorium"
                                   placeholder="Terytorium" required value={{terytorium}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Kontakty:</label>

                        <div class="col-xs-9">
                            <input name="kontakty" type="text" class="form-control" id="kontakty" placeholder="Kontakty"
                                   required value={{kontakty}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Statut:</label>

                        <div class="col-xs-9">
                            <textarea name="regulamin" class="form-control" id="regulamin" placeholder="Regulamin"
                                      rows="3" required value={{regulamin}}></textarea>
                        </div>
                    </div>

                    <br/>
                    <legend>Głosowanie</legend>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Czas głosowania:</label>

                        <div class="col-xs-9">
                            <input name="voteDuration" type="text" class="form-control" id="voteDuration"
                                   required value={{voteDuration}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="CzasWyczekiwaniaKwestiiSpec">Czas wyczekiwania kwestii i komentarzy specjalnych(w dniach):</label>

                        <div class="col-xs-9">
                            <input name="czasWyczekiwaniaKwestiiSpec" class="form-control" id="CzasWyczekiwaniaKwestiiSpec"
                                   value={{czasWyczekiwaniaKwestiiSpecjalnej}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Ilość kwesti przechodzących do głosowania:</label>

                        <div class="col-xs-9">
                            <input name="voteQuantity" type="text" class="form-control" id="voteQuantity" placeholder="Kontakty"
                                   required value={{voteQuantity}}>
                        </div>
                    </div>

                    <br/>
                    <legend>Ilość minut koniecznej pauzy do ponownej akcjii tego samego typu</legend>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="addIssuePause">Dodanie kwestii:</label>

                        <div class="col-xs-9">
                            <input name="addIssuePause" class="form-control" id="addIssuePause"
                                   value={{addIssuePause}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="add">Dodanie komentarza w ramach danej kwestii:</label>

                        <div class="col-xs-9">
                            <input name="addCommentPause" class="form-control" id="addCommentPause"
                                   value={{addCommentPause}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="addReferencePause">Dodanie odniesienia w ramach danego komentarza:</label>

                        <div class="col-xs-9">
                            <input name="addReferencePause" class="form-control" id="addReferencePause"
                                   value={{addReferencePause}}>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Zapisz" {{dataChanged}}>
                            <input type="reset" class="btn btn-default" value="Anuluj">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{> GlobalNotifications}}
</template>