<template name="listParametr">
        <div class="row">
            {{#unless noKwestiaParameters}}
                <p class="col-md-12 bg-warning padding-15 color-red">
                    Instnieje kwestia administrowana dotycząca zmiany parametrów globalnych.
                </p>
            {{/unless}}
            <div class="col col-md-6">
                <div class="input-group">
                    <div class="btn-group">
                        {{#if isUserCzlonek}}
                            {{#if noKwestiaParameters}}
                                <a href="{{pathFor 'editParametry'}}" class="btn btn-primary">
                                    <i class="fa fa-edit"></i> Edytuj
                                </a>
                             {{else}}
                                <a href="{{pathFor 'listKwestia'}}" class="btn btn-primary">
                                    <i class="fa fa-edit"></i> Zobacz kwestię
                                </a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" id="parametrForm">
                    <legend>Dane organizacji</legend>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Nazwa organizacji:</label>

                        <div class="col-xs-9">
                            <input name="nazwaOrganizacji" type="text" class="form-control" id="nazwaOrganizacji"
                                   readonly value={{nazwaOrganizacji}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Terytorium:</label>

                        <div class="col-xs-9">
                            <input name="terytorium" type="text" class="form-control" id="terytorium" readonly
                                   value={{terytorium}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Kontakty:</label>

                        <div class="col-xs-9">
                            <input name="kontakty" type="text" class="form-control" id="kontakty" readonly
                                   value={{kontakty}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Statut:</label>

                        <div class="col-xs-9">
                            <textarea name="regulamin" class="form-control" id="regulamin" readonly rows="3"
                                      value={{regulamin}}></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Czas głosowania(w godzinach):</label>

                        <div class="col-xs-9">
                            <input name="CzasGlosowania" class="form-control" id="CzasGlosowania" readonly
                                      value={{voteDuration}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Ilość kwesti przechodzących do głosowania:</label>

                        <div class="col-xs-9">
                            <input name="IloscKwestiiDoGlosowania" class="form-control" id="IloscKwestiiDoGlosowania" readonly
                                      value={{voteQuantity}}>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</template>
