<template name="profileList">
    <!--{{#if currentUser}}-->
        <div class="main">
            <legend>Lista użytkowników </legend>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = UserListAdmin
                    }}
                </div>
            </div>
        </div>
        {{> updateRolesModal}}
        {{> deleteAccountModal}}
        {{> infoAccountModal}}
        {{> updateAccountModal}}
    <!--{{/if}}-->
</template>

<template name="usernameLink">
    <a href="{{ pathFor 'profileInfo' this._id}}">{{this.username}}</a>
</template>

<template name="optionsColumnProfile">
    <div class="pull-right">
        {{#if statusHonorowy}}
            <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Edytuj" id="zglosNaHonorowegoClick">
                <i class="fa fa-male"></i> Zgłoś na członka honorowego
            </a>
         <!--{{else}}-->
            <!--&lt;!&ndash;to finish&ndash;&gt;-->
            <!--{{#if isZgloszony}}-->
            <!--<a class="btn btn-xs btn-default" data-toggle="tooltip" title="Edytuj" id="zglosNaHonorowegoClick">-->
                <!--<i class="glyphicon glyphicon-info-sign"></i> Zgłoszony-->
            <!--</a>-->
            <!--{{/if}}-->
        {{/if}}
    </div>
</template>
