<template name="profileInfo">
    <div class="main">
        <legend>Profil użytkownika {{username}}</legend>

        <div class="clearfix"></div>
        <hr/>
        <table class="table table-bordered manageTable">
            <tr>
                <td><span class="glyphicon glyphicon-user"></span><strong> Login</strong></td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-envelope"></span><strong> Email</strong></td>
                <td>{{test emails}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-info-sign"></span><strong> Imię i nazwisko</strong></td>
                <td>{{profile.fullName}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-heart"></span><strong> Płeć</strong></td>
                <td>{{profile.gender}}</td>
            </tr>

            <tr>
                <td><span class="glyphicon glyphicon-star"></span><strong> Stanowisko</strong></td>
                <td>{{profile.profession}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-map-marker"></span><strong> Adres</strong></td>
                <td>{{profile.address}}, {{profile.zip}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-earphone"></span><strong> Telefon</strong></td>
                <td>{{profile.phone}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-globe"></span><strong> WWW</strong></td>
                <td><a href="{{profile.web}}" target="_blank">{{profile.web}}</a></td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-star"></span><strong> Ranking</strong></td>
                <td>{{profile.rADking}}</td>
            </tr>
        </table>
    </div>
</template>