<template name="profileList">
    <!--{{#if currentUser}}-->
        <div class="main">
            <legend>Lista użytkowników </legend>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = UserListAdmin
                    }}
                </div>
            </div>
        </div>
        {{> updateRolesModal}}
        {{> deleteAccountModal}}
        {{> infoAccountModal}}
        {{> updateAccountModal}}
    <!--{{/if}}-->
</template>

<template name="usernameLink">
    <a href="{{ pathFor 'profileInfo' this._id}}">{{this.username}}</a>
</template>