<template name="editUserForm">
    {{#with userToEdit}}
        <div class="main">
            <h3>Edytuj użytkownika</h3>
            <hr/>
            <div class="row">
                <div class="col col-md-10">
                    <form class="form-horizontal" id="userForm">
                        <div class="form-group">
                            <label class="control-label col-xs-3">Rola:</label>

                            <div class="col-xs-9">
                                <input name="role" id="role" class="form-control" readonly value="{{roles}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="uwagiStatus">Uwagi do roli:</label>

                            <div class="col-xs-9">
                                <textarea name="uwagiStatus" value={{profile.roleDesc}} rows="3" class="form-control"
                                          id="uwagiStatus" placeholder="Uwagi do roli"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="inputEmail">Email:</label>

                            <div class="col-xs-9">
                                <input name="email" type="email" value={{email}} class="form-control" id="inputEmail"
                                       placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="firstName">Imię:</label>

                            <div class="col-xs-9">
                                <input name="firstName" type="text" value={{profile.firstName}} class="form-control"
                                       id="firstName" placeholder="Imię" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="lastName">Nazwisko:</label>

                            <div class="col-xs-9">
                                <input name="lastName" type="text" value={{profile.lastName}} class="form-control"
                                       id="lastName"
                                       placeholder="Nazwisko" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="profession">Stanowisko:</label>

                            <div class="col-xs-9">
                                <input name="profession" type="text" value={{profile.profession}} class="form-control"
                                       id="profession"
                                       placeholder="Stanowisko">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="phoneNumber">Numer tel:</label>

                            <div class="col-xs-9">
                                <input name="phone" type="tel" class="form-control"
                                       value={{profile.phone}} id="phoneNumber"
                                       placeholder="Numer telefonu">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Data urodzenia:</label>

                            <div class="col-xs-9">
                                <div class="input-group datetimepicker col-xs-5" id="test1">
                                    <span class="input-group-addon glyphicon glyphicon-calendar"><i
                                            class="fa fa-calendar"></i></span>
                                    <input class="set-due-date form-control" value={{dateB}} type="text"
                                           name="dateOfBirth"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="postalAddress">Adres:</label>

                            <div class="col-xs-9">
                                <textarea name="address" rows="3" class="form-control"
                                          value={{profile.address}} id="postalAddress" placeholder="Adres"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="ZipCode">Kod pocztowy:</label>

                            <div class="col-xs-9">
                                <input name="zipCode" type="text" value={{profile.zip}} class="form-control"
                                       id="ZipCode"
                                       placeholder="Kod pocztowy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="web">Strona www:</label>

                            <div class="col-xs-9">
                                <input name="web" type="text" value={{profile.web}} class="form-control" id="web"
                                       placeholder="www">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Płeć: </label>

                            <div class="col-xs-2">
                                <label class="radio-inline">
                                    <input type="radio" name="genderRadios"
                                           value="mężczyzna" {{isSelected 'mężczyzna'}}> Mężczyzna
                                </label>
                            </div>
                            <div class="col-xs-2">
                                <label class="radio-inline">
                                    <input type="radio" name="genderRadios" value="kobieta" {{isSelected 'kobieta'}}>
                                    Kobieta
                                </label>
                            </div>
                        </div>
                        <br/>

                        <div class="form-group">
                            <div class="col-xs-offset-3 col-xs-9">
                                <input type="submit" id="clickme" class="btn btn-primary" value="Zapisz">
                                <input type="reset" class="btn btn-default" value="Anuluj">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{/with}}
</template>
