<template name="listUsers">
    {{#if currentUser}}
        <div class="main">
            <h3>Lista użytkowników </h3>

            <div class="pull-right">
                <span>Liczba użytkowników: </span><span class="badge">{{usersCount}}</span>
            </div>
            <hr/>
            <div class="row">
                <div class="col col-md-6">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="{{pathFor 'addUser'}}" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Dodaj</a>
                            <button class="btn btn-primary" type="button" data-toggle="modal" href="#updateroles">
                                <i class="fa fa-gear"></i> Zarządzaj rolami
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = UserListAdmin
                    }}
                </div>
            </div>
        </div>
        {{> updateRolesModal}}
        {{> deleteAccountModal}}
        {{> infoAccountModal}}
        {{> updateAccountModal}}
    {{/if}}
</template>

<template name="editColumnUsers">
    {{#unless myself _id}}
        <a title="Edytuj" id="editUser" href="{{ pathFor 'editUser'}}"><i
                class="glyphicon glyphicon-pencil clickable"></i></a>
        <span data-toggle="modal" href="#updateaccount" title="Zarządzaj rolami"
              class="glyphicon glyphicon-cog clickable"></span>
        <span data-toggle="modal" href="#infoaccount" title="Szczegółowe informacje"
              class="glyphicon glyphicon-info-sign clickable"></span>
        <span data-toggle="modal" href="#deleteaccount" title="Usuń konto"
              class="glyphicon glyphicon-trash clickable"></span>
    {{/unless}}
</template>

<template name="userEmail">
    {{email}}
</template>