<template name="editParametry">
    <div class="main">
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" id="parametrFormEdit">
                    <legend>Dane organizacji</legend>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Nazwa organizacji:</label>

                        <div class="col-xs-9">
                            <input name="nazwaOrganizacji" type="text" class="form-control" id="nazwaOrganizacji"
                                   placeholder="Nazwa organizacji" required value={{nazwaOrganizacji}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Terytorium:</label>

                        <div class="col-xs-9">
                            <input name="terytorium" type="text" class="form-control" id="terytorium"
                                   placeholder="Terytorium" required value={{terytorium}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Kontakty:</label>

                        <div class="col-xs-9">
                            <input name="kontakty" type="text" class="form-control" id="kontakty" placeholder="Kontakty"
                                   required value={{kontakty}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Regulamin:</label>

                        <div class="col-xs-9">
                            <textarea name="regulamin" class="form-control" id="regulamin" placeholder="Regulamin"
                                      rows="3" required value={{regulamin}}></textarea>
                        </div>
                    </div>
                    <br/>
<!-- 
                    <h3>Punktacja aktywności</h3>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Plusy za pozytywną aktywność </h4>

                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputKwestia">Dodanie Kwestii:</label>

                                <div class="col-xs-6">
                                    <input name="dodanieKwestii" class="form-control" id="dodanieKwestii" required
                                           type="number" min="0" value={{pktDodanieKwestii}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputKomentarz">Dodanie komentarza:</label>

                                <div class="col-xs-6">
                                    <input name="dodanieKomentarza" class="form-control" id="dodanieKomentarza" required
                                           type="number" min="0" value={{pktDodanieKomentarza}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputOdniesienie">Dodanie
                                    odniesienia:</label>

                                <div class="col-xs-6">
                                    <input name="dodanieOdniesienia" class="form-control" id="dodanieOdniesienia"
                                           required type="number" min="0" value={{pktDodanieOdniesienia}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputPriorytet">Nadanie priorytetu:</label>

                                <div class="col-xs-6">
                                    <input name="nadaniePriorytetu" class="form-control" id="nadaniePriorytetu" required
                                           type="number" min="0" value={{pktNadaniePriorytetu}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputAwansKwestii">Awans Kwestii do
                                    realizacji:</label>

                                <div class="col-xs-6">
                                    <input name="awansKwestii" class="form-control" id="awansKwestii" required
                                           type="number" min="0" value={{pktAwansKwestii}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputUdzialWZespole">Udział w zespole
                                    realizacyjnym:</label>

                                <div class="col-xs-6">
                                    <input name="udzialWZespole" class="form-control" id="udzialWZespole" required
                                           type="number" min="0" value={{pktUdzialWZespoleRealizacyjnym}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputZlozenieRaportu">Złożenie raportu
                                    realizacyjnego:</label>

                                <div class="col-xs-6">
                                    <input name="zlozenieRaportu" class="form-control" id="zlozenieRaportu" required
                                           type="number" min="0" value={{pktZlozenieRaportuRealizacyjnego}}>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <h4>Minusy za negatywną aktywność </h4>

                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputWycofanieKwestiiDoArchiwum">Wycofanie
                                    Kwestii do archiwum:</label>

                                <div class="col-xs-6">
                                    <input name="wycofanieKwestiiDoArchiwum" class="form-control"
                                           id="wycofanieKwestiiDoArchiwum" required type="number" max="0"
                                           value={{pktWycofanieKwestiiDoArchiwum}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputWycofanieKwestiiDoKosza">Wycofanie
                                    Kwestii do kosza:</label>

                                <div class="col-xs-6">
                                    <input name="wycofanieKwestiiDoKosza" class="form-control"
                                           id="wycofanieKwestiiDoKosza" required type="number" max="0"
                                           value={{pktWycofanieKwestiiDoKosza}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputWyjscieZZespolu">Wyjście z zespołu
                                    realizacyjnego:</label>

                                <div class="col-xs-6">
                                    <input name="wyjscieZZespolu" class="form-control" id="wyjscieZZespolu" required
                                           type="number" max="0" value={{pktWyjscieZZespoluRealizacyjnego}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="inputBrakUdzialuWGlosowaniu">Brak udziału w
                                    głosowaniu:</label>

                                <div class="col-xs-6">
                                    <input name="brakUdzialuWGlosowaniu" class="form-control"
                                           id="brakUdzialuWGlosowaniu" max="0" required type="number"
                                           value={{pktBrakUdzialuWGlosowaniu}}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <h3 class="col-md-12">Parametry Kwestii</h3>
                    <hr/>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">Okres śledzenia wątku
                            przenoszącego:</label>

                        <div class="col-xs-9">
                            <input name="okresSledzeniaWatkuPrzenoszacego" class="form-control"
                                   id="okresSledzeniaWatkuPrzenoszacego" required type="number"
                                   value={{okresSledzeniaWatkuPrzenoszacego}}>
                        </div>
                    </div> 
                    <br/>-->

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Zapisz" {{dataChanged}}>
                            <input type="reset" class="btn btn-default" value="Anuluj">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{> GlobalNotifications}}
</template>