<template name="realizacjaTab2">
    <div class="main">
        <!--{{#if ZrealizowaneListCount}}-->
            <h3>Lista Kwestii zrealizowanych</h3>
            <br>
            <hr/>
            &nbsp;
            <div class="row">
                <div class="col-md-12">

                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "ZrealizowaneList"
                    }}

                </div>
            </div>
        <!--{{else}}-->
            <!--<label>Brak Kwestii</label>-->
        <!--{{/if}}-->
    </div>
</template>