<template name="managePriorities">
    <td><strong> Priorytet</strong></td>
    <td>
        <div class="row">
            <div class="col-md-1">
                <b>{{priority priorytet}}</b>
            </div>
            {{#unless koszZrealizowanaArchiwum czyAktywny status}}
                <div class="col-md-11">
                    <form>
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-danger" value="-5" {{isSelected -5 idParent glosujacy}}>-5
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-danger" value="-4" {{isSelected -4 idParent glosujacy}}>-4
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-danger" value="-3" {{isSelected -3 idParent glosujacy}}>-3
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-danger" value="-2" {{isSelected -2 idParent glosujacy}}>-2
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-danger" value="-1" {{isSelected -1 idParent glosujacy}}>-1
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-default" value="0"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Oznacza wstrzymanie się od głosu" {{isUserOrDoradcaLogged}}>
                                &nbsp;0
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-success" value="1" {{isSelected 1 idParent glosujacy}}>+1
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-success" value="2" {{isSelected 2 idParent glosujacy}}>+2
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-success" value="3" {{isSelected 3 idParent glosujacy}}>+3
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-success" value="4" {{isSelected 4 idParent glosujacy}}>+4
                            </button>
                            <button id="priorytetButton" name="{{idKwestia}}" type="button"
                                    class="btn btn-xs btn-success" value="5" {{isSelected 5 idParent glosujacy}}>+5
                            </button>
                        </div>
                    </form>
                </div>
            {{/unless}}
        </div>
    </td>
</template>