<template name="kwestiaTopButtons">
    <div class="col-md-12">
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button id="backToList" class="btn btn-primary">
                    <span class="fa fa-arrow-left"></span> Powrót
                </button>
                {{#if isRealizowanaNieaktywny status czyAktywny}}
                    <button id="zrealizowanaClick" name="{{idKwestia}}" class="btn btn-success" {{hasUserRights idKwestia}}>
                        <span class="fa fa-check-circle-o"></span> Zrealizowana
                    </button>
                {{/if}}
                {{#unless isKwestiaAccessOrChangeParams typ status czyAktywny}}
                   {{#unless isRealizowanaNieaktywny status czyAktywny}}
                        <button id="addOptionButton" class="btn btn-primary" {{hasUserRights idKwestia}}>
                            <span class="fa fa-plus"></span> Dodaj opcję
                        </button>
                    {{/unless}}
                {{/unless}}
            </div>
            {{> uzasadnienieZrealizowanaModal idKwestia=idKwestia}}
            {{> uzasadnienieArchiwumModal idKwestia=idKwestia}}
            {{> uzasadnienieKoszModal idKwestia=idKwestia}}
            <div class="btn-group" role="group" aria-label="...">
                {{#unless isKwestiaAccessOrChangeParams typ status czyAktywny}}
                    <button id="doArchiwum" name="{{idKwestia}}" class="btn btn-warning" {{hasUserRights idKwestia}}>
                        <span class="fa fa-lock"></span> Do Archiwum
                    </button>
                {{/unless}}
                {{#unless isKwestiaAccessOrChangeParams typ status czyAktywny}}
                    <button id="doKosza" name="{{idKwestia}}" class="btn btn-danger" {{hasUserRights idKwestia}}>
                        <span class="fa fa-trash"></span> Do Kosza
                    </button>
                {{/unless}}
            </div>
        </div>
    </div>
</template>