<template name="kwestiaDetails">
    <legend>Treść Kwestii</legend>
    <div class="clearfix"></div>
    <table class="table table-bordered manageTable">
        {{#if isOsobowa status}}
            <tr>
                <td><strong> Tytuł</strong></td>
                <td>{{krotkaTresc}}</td>
            </tr>
            <tr>
                <td><strong> Dane aplikanta</strong></td>
                <td>
            <tr>
                <td><strong>Imię i Nazwisko: </strong></td>
                <td>{{szczegolowaTresc.fullName}}</td>
            </tr>
            {{#if protectorZR}}
                <tr>
                    <td><strong>Email: </strong></td>
                    <td>{{szczegolowaTresc.email}}</td>
                </tr>
                <tr>
                    <td><strong>Pesel: </strong></td>
                    <td>{{szczegolowaTresc.pesel}}</td>
                </tr>
                <tr>
                    <td><strong>Adres: </strong></td>
                    <td>{{szczegolowaTresc.address}}</td>
                </tr>
                <tr>
                    <td><strong>Kod pocztowy: </strong></td>
                    <td>{{szczegolowaTresc.zip}}</td>
                </tr>
            {{/if}}
            <tr>
                <td><strong>Miasto: </strong></td>
                <td>{{szczegolowaTresc.city}}</td>
            </tr>
            </td>
            </tr>
            <tr>
                <td><strong> Dodatkowe</strong></td>
                <td>{{szczegolowaTresc.uwagi}}</td>
            </tr>
        {{else}}
            <tr>
                <td><strong> Krótka treść</strong></td>
                <td>{{krotkaTresc}}</td>
            </tr>
            <tr>
                <td><strong> Opis z uzasadnieniem</strong></td>
                <td>{{szczegolowaTresc}}</td>
            </tr>
        {{/if}}
    </table>
</template>