<template name="informacjeKwestia" xmlns="http://www.w3.org/1999/html">
    <div class="main">
        <div class="row">
            <div class="col-md-6">
                <h3>Informacje o Kwestii</h3>
                <h4>Liczba osób, które nadały priorytet tej Kwestii: {{glosujacyCount}}</h4>

                {{#if mojPiorytet}}
                    <h4>Nadałeś tej Kwestii priorytet: {{mojPiorytet}}. Możesz go w każdej chwili zmienić.</h4>
                {{else}}
                    <h4>Nie nadałeś jeszcze tej Kwestii priorytetu.</h4>
                {{/if}}

            </div>
            <div class="col-md-6">
                <br/>
                <a id="dyskusja" name="{{_id}}" class="btn btn-danger pull-right">
                    <span class="glyphicon glyphicon-remove-circle"></span> Dyskusja {{_id}}
                </a>
                <a id="addOptionButton" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus"></span> Dodaj opcję tej Kwestii</a>

                    <!--{{#if isIssueSuspended _id}}-->
                    <!--{{#with getIssueSuspended _id}}-->
                    <!--<a href="{{pathFor 'proceduraWstrzymania' _id}}" class="btn btn-primary pull-right">-->
                    <!--<span class="glyphicon glyphicon-hand-right"></span> Kwestia wstrzymana-->
                    <!--</a>-->
                        <!--{{/with}}-->
                    <!--{{else}}-->
                <!--<a id="wstrzymajKwestieButton" class="btn btn-danger pull-right">-->
                <!--<span class="glyphicon glyphicon-remove-circle"></span> Wstrzymaj kwestię-->
                <!--</a>-->
                    <!--{{/if}}-->

            </div>
        </div>

        <div class="clearfix"></div>
        <hr/>

        <table class="table table-bordered manageTable">
            <tr>
                <td><strong> Data wprowadzenia Kwestii</strong></td>
                <td>{{date}}</td>
            </tr>
            <tr>
                <td><strong> Data głosowania</strong></td>
                <td>{{dataGlosowaniaObliczana}}</td>
            </tr>
            <tr>
                <td><strong> Finał deliberacji i głosowania</strong></td>
                <td>{{dateG}}</td>
            </tr>
            <tr>
                <td><strong> Nazwa Kwestii</strong></td>
                <td>{{kwestiaNazwa}}</td>
            </tr>
            <tr>
                <td><strong> Priorytet</strong></td>
                <td>{{sredniaPriorytet}} <a class="btn btn-success pull-right" href="#nadajpriorytetkwestia"
                                            data-toggle="modal">
                <span data-toggle="modal" class="glyphicon glyphicon-thumbs-up clickable"
                      title="Nadaj priorytet"></span> Nadaj lub zmień priorytet</a></td>
            </tr>
            <tr>
                <td><strong> Temat</strong></td>
                <td>{{tematNazwa.nazwaTemat}}</td>
            </tr>
            <tr>
                <td><strong> Rodzaj</strong></td>
                <td>{{rodzajNazwa.nazwaRodzaj}}</td>
            </tr>

        </table>
        <hr/>
        <h3>Treść Kwestii</h3>

        <div class="clearfix"></div>
        <table class="table table-bordered manageTable">
            <tr>
                <td><strong> Krótka treść</strong></td>
                <td>{{krotkaTresc}}</td>
            </tr>
            <tr>
                <td><strong> Opis z uzasadnieniem</strong></td>
                <td>{{szczegolowaTresc}}</td>
            </tr>

        </table>
        <hr/>
        <div class="form-group">
            <input type="reset" id="backToList" class="btn btn-default backToList" value="Powrót">
        </div>
        {{> priorytetKwestiaModal}}
    </div>
</template>