<template name="priorytetKwestiaModal">
    <div id="nadajpriorytetkwestia" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> priorytetKwestiaModalInner}}
            </div>
        </div>
    </div>
</template>

<template name="priorytetKwestiaModalInner">
    {{#with kwestiaInScope}}
        <div class="modal-header">
            <h4>Nadaj priorytet tej Kwestii</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1">
                    <button id="b-5" name="b-5" type="button" class="btn btn-warning" value="-5"><b>-5</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b-4" name="b-4" type="button" class="btn btn-warning" value="-4"><b>-4</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b-3" name="b-3" type="button" class="btn btn-warning" value="-3"><b>-3</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b-2" name="b-2" type="button" class="btn btn-warning" value="-2"><b>-2</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b-1" name="b-1" type="button" class="btn btn-warning" value="-1"><b>-1</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b1" name="b2" type="button" class="btn btn-success" value="1"><b>1</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b2" name="b2" type="button" class="btn btn-success" value="2"><b>2</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b3" name="b3" type="button" class="btn btn-success" value="3"><b>3</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b4" name="b4" type="button" class="btn btn-success" value="4"><b>4</b></button>
                </div>
                <div class="col-md-1">
                    <button id="b5" name="b5" type="button" class="btn btn-success" value="5"><b>5</b></button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" data-dismiss="modal" class="btn btn-default" value="Anuluj"/>
                </div>
                <div class="col-md-2">
                    <form>
                        <input type="hidden" value="0" id="pole"/>
                        <input type="submit" class="btn btn-danger" value="Zatwierdź wybór"/>
                    </form>
                </div>
            </div>
        </div>
    {{/with}}
</template>