<template name="proceduraWstrzymania">
    <div class="main">
        <h4>Procedura wstrzymania Kwestii</h4>
        <hr />
        <div class="row">
            <div class="col col-md-12">
                <div class="form-group">
                    <label class="control-label col-xs-3">Nazwa kwestii:</label>
                    <div class="col-xs-9">
                        {{getKwestiaNazwa idKwestia}}
                    </div>
                </div>
                <br />
                {{#if isEmpty uzasadnienie}}
                    {{#if isOwner userId}}
                        <form class="form-horizontal" id="proceduraWstrzymaniaForm">
                            <div class="form-group">
                                <label class="control-label col-xs-3">Uzasadnienie:</label>
                                <div class="col-xs-9">
                                    <textarea name="uzasadnienie" type="text" class="form-control" id="uzasadnienie" placeholder="Uzasadnienie wstrzymania kwestii">{{uzasadnienie}}</textarea>
                                </div>
                            </div>
                            <input type="hidden" name="kwestiaSuspensionId" id="kwestiaSuspensionId" value="{{_id}}">
                            <input type="hidden" name="kwestiaId" id="kwestiaId" value="{{idKwestia}}">
                            <input type="hidden" name="userId" id="userId" value="{{userId}}">
                            <input type="hidden" name="czyAktywny" id="czyAktywny" value="{{czyAktywny}}">
                            <input type="hidden" name="dataDodania" id="dataDodania" value="{{dataDodania}}">
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-9">
                                    <input type="submit" class="btn btn-primary" value="Zapisz">
                                    <input type="reset" class="btn btn-default" value="Anuluj">
                                </div>
                            </div>
                        </form>
                    {{else}}
                        <div class="form-group">
                            <label class="control-label col-xs-3">Uzasadnienie:</label>
                            <div class="col-xs-9">
                                Uzasadnienie nie zostało jeszcze dodane
                            </div>
                        </div>
                    {{/if}}
                {{else}}
                    <div class="form-group">
                        <label class="control-label col-xs-3">Uzasadnienie:</label>
                        <div class="col-xs-9">
                            {{uzasadnienie}}
                        </div>
                    </div>
                {{/if}}

                <div class="clearfix"></div>
                <hr />
                {{> discussionMainPanel
                title = "Dyskusja dygresyjna"
                kwestiaSuspendedId = _id
                }}
            </div>
        </div>
    </div>
</template>